<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quickstart Tasks</title>

    <!-- Fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 

    <!-- Styles -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: 'Montserrat', 'Arial';
            background-color: #7855fa;
        }
        .fa-btn {
            margin-right: 6px;
        }
        .task-header {
            color: #D0D0D0;
        }
    </style>
</head>
<body id="app-layout">
    <div id="calmgb" class="calm-background"></div>
    <div class="container">
        <div class="row text-center task-header">
            <h2 style="color:#D0D0D0">Task Manager</h2>
        </div>
    </div>
</body>
    <div class="container">
        <div class="col-sm-offset-2 col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    New Task
                </div>
                <div class="panel-body">
                    <!-- New Task Form -->
                    <form  action="/create/" method="POST" class="form-horizontal">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <!-- Task Name -->
                        <div class="form-group">
                            <label form="task-name" class="col-sm-3 control-label">Task</label>
                            <div class="col-sm-6">      
                                <input type="text" name="name" id="task-name" class="form-control" placeholder="enter your new task details here" required>
                            </div>
                        </div>
                        <!-- Add Task Button -->
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-6">
                                <button type="submit" class="btn btn-default" style="background-color: #b0d235">
                                    <!-- <i class="fa fa-btn fa-plus"></i>Add Task -->
                                    <i class="fa fa-btn fa-plus"></i>Add Task
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Current Tasks -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Current Tasks: {{ task_list.count }}
                    </div>
                    {% if task_list.count > 0 %}
                    <div class="panel-body">
                        <table class="table table-striped task-table">
                            <thead>
                                <th>Task</th>
                                <th>&nbsp;</th>
                            </thead>
                            <tbody>
                                 {% for task in task_list %}
                                    <tr>
                                        <td class="table-text"><div>{{ task.name }}</div></td>
                                        <!-- Task Delete Button -->
                                        <td>
                                            <form action="/delete/{{ task.id }}/" method="POST">    
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger">
                                                    <i class="fa fa-btn fa-trash"></i>Delete
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</body></html>